@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #2E3244;
  height: 100vh;
}

#root{
  height: 100%;
}

.scrollbar-corpus::-webkit-scrollbar {
  width: 8px;              /* largeur de la barre verticale */
  height: 8px;             /* hauteur si scrollbar horizontale */
}

.scrollbar-corpus::-webkit-scrollbar-track {
  background: #0f172a;     /* couleur du fond (track) */
}

.scrollbar-corpus::-webkit-scrollbar-thumb {
  background: #64748b;     /* couleur du “pouce” */
  border-radius: 9999px;   /* bien arrondi */
}

.scrollbar-corpus::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;     /* plus clair au hover */
}

/* Pour Firefox */
.scrollbar-corpus {
  scrollbar-width: thin;                       /* auto | thin | none */
  scrollbar-color: #64748b #0f172a;           /* thumb | track */
}

.react-flow__panel{
  display: none;
}